<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>
    <link rel="stylesheet" th:href="@{/styles/form.css}">
</head>
<body>
<div class="table-container">
    <h2>Lista de Usuarios por grupo</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cédula</th>
                <th>Correo</th>
                <th>Fecha Ingreso</th>
                <th>Antigüedad</th>
                <th>Cargo</th>
                <th>Rol</th>
                <th>Equipo</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.id}"></td>
                <td th:text="${usuario.nombre}"></td>
                <td th:text="${usuario.apellido}"></td>
                <td th:text="${usuario.nroCedula}"></td>
                <td th:text="${usuario.correo}"></td>
                <td th:text="${#dates.format(usuario.fechaIngreso, 'yyyy-MM-dd')}"></td>
                <td th:text="${usuario.antiguedad}"></td>

                <td th:each="c : ${cargos}" th:if="${c.id == usuario.idCargo}" th:text="${c.nombre}"></td>
                <td th:each="r : ${roles}" th:if="${r.id == usuario.idRol}" th:text="${r.nombre}"></td>
                <td th:each="e : ${equipos}" th:if="${e.id == usuario.idEquipo}" th:text="${e.nombre}"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="10" style="text-align: center;">
                    <a th:href="@{/}" class="button">Volver al Inicio</a>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
</body>

</html>
