<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Usuario</title>
    <link rel="stylesheet" th:href="@{/styles/form.css}">
</head>
<body>

<div class="form-container">

    <h2>Editar Usuario</h2>

    <!-- Formulario de edición -->
    <form th:action="@{/usuario/editar}" th:object="${usuario}" method="post">
        <input type="hidden" th:field="*{id}" />

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" th:field="*{nombre}" required/>

        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" th:field="*{apellido}" required/>

        <label for="nroCedula">Nro. de Cedula:</label>
        <input type="text" id="nroCedula" th:field="*{nroCedula}" required/>
        
        <label for="correo">Correo:</label>
        <input type="email" id="correo" th:field="*{correo}" required/>
        
        <label for="idRol">Rol:</label>
            <select th:field="*{idRol}">
                <option value="" disabled selected>-- Seleccione un rol --</option>
                <option th:each="rol : ${roles}" 
                        th:value="${rol.id}" 
                        th:text="${rol.nombre}">
                </option>
            </select>

            <!-- Errores de validación -->
            <div th:if="${#fields.hasErrors('idRol')}" 
                th:errors="*{idRol}" 
                class="error">
            </div>
        
        <label for="idEquipo">Equipo:</label>
            <select th:field="*{idEquipo}">
                <option value="" disabled selected>-- Seleccione un equipo --</option>
                <option th:each="equipo : ${equipos}" 
                        th:value="${equipo.id}" 
                        th:text="${equipo.nombre}">
                </option>
            </select>

            <!-- Errores de validación -->
            <div th:if="${#fields.hasErrors('idEquipo')}" 
                th:errors="*{idEquipo}" 
                class="error">
            </div>


            <label for="idCargo">Cargo:</label>
            <select th:field="*{idCargo}">
                <option value="" disabled selected>-- Seleccione un cargo --</option>
                <option th:each="cargo : ${cargos}" 
                        th:value="${cargo.id}" 
                        th:text="${cargo.nombre}">
                </option>
            </select>

            <!-- Errores de validación -->
            <div th:if="${#fields.hasErrors('idCargo')}" 
                th:errors="*{idCargo}" 
                class="error">
            </div>
        
       <label for="fechaIngreso">Fecha de Ingreso:</label>
        <input type="date" id="fechaIngreso" th:field="*{fechaIngreso}" required>

        <label for="telefono">Teléfono:</label>
        <input type="text" id="telefono" th:field="*{telefono}" required>

        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" th:field="*{contrasena}" required>

        <label for="fechaNacimiento">Fecha de Nacimiento:</label>
        <input type="date" id="fechaNacimiento" th:field="*{fechaNacimiento}" required>
        <!-- Botón ocupa toda la fila -->
        <button type="submit" class="full-width">Guardar Cambios</button>
    </form>

    <br>

    <!-- Botón volver estilizado -->
    <div style="text-align:center;">
        <a th:href="@{/}" class="btn-volver">Volver al inicio</a>
    </div>

</div>

</body>
</html>
